.about {
    width: 100%;

    @include page-section-background(
        'mountain-mobile(360)@1x.jpg',
        'mountain-mobile(360)@2x.jpg',
        'mountain-tablet(768)@1x.jpg',
        'mountain-tablet(768)@2x.jpg',
        'mountain-desktop(1440)@1x.jpg',
        'mountain-desktop(1440)@2x.jpg',
        'mountain-desktop(1920)@1x.jpg',
    );

    &__layout{
        @include section-divider;
        @include main-tone-bg(0.6);
    }

    &__wrapper {
        @include wrapper;
        padding: $mobile-big-section-indent 0;
    }

    &__initial {
        display: flex;
        margin-bottom: $mobile-small-sections-space;
    }

    &__img-frame {
        position: relative;

        align-self: center;

        width: 55%;
        max-width: 200px;
        margin: 0;
        padding: 0;

        border-radius: 8px;
        background: linear-gradient(to bottom, #77A1D3, #79CBCA);

        &::after {
            display: block;
            content: "";
            padding-top: 100%;
        }
    }

    &__img {
        position: absolute;
        top: 50%;
        left: 50%;

        width: 95%;
        height: 95%;
        transform: translate(-50%, -50%);
    }

    &__credentials {
        display: flex;
        width: 45%;
        max-width: 200px;
        padding-left: 0.5rem;

        tbody {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &::after {
            content: '';
            display: block;
            width: 1px;
            padding-top: 100%;
        }
    }

    &__field {
        display: flex;
        flex-direction: column;
    }

    &__field-name {
        font-style: italic;
        color: #79CBCA;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__bio {
        width: 100%;
        text-align: justify;
        margin-bottom: $mobile-small-sections-space;
    }

    &__bio-text {
        margin: 0;
        line-height: 1.5;
        text-indent: 1.5em;
    }

    &__subtitle {
        margin: 0;
        margin-bottom: 16px;

        font-size: 1.3rem;
        font-style: italic;
        font-weight: normal;
        color: #77A1D3;
    }

    &__devtools {
        width: 160px;
    }

    &__tool-list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__tool {
        position: relative;

        margin-top: 16px;
        padding-left: 12%;

        &::before {
            position: absolute;
            top: 50%;
            left: 0;

            content: '';
            display: block;
            width: 10%;
            height: 1px;
            transform: translateY(-50%);

            @include main-gradient(to right);
        }
    }

    &__tool-icon {
        display: none;
    }

    &__bio-skill {
        font-weight: 700;
    }

    &__bio--principle {
        font-style: italic;
    }

    &__skills {
        width: calc(100% - 165px);
    }

    &__skill-list {
        display: flex;
        flex-flow: wrap;
        flex-direction: row;
        justify-content: space-around;

        @include custom-list;
    }

    &__skills-name {
        display: none;
        height: 20%;
        min-height: 2rem;

        font-size: 1.2rem;
        font-weight: normal;
        line-height: 2rem;
        text-decoration: none;
        color: inherit;
    }

    &__skills-icon {
        position: absolute;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
        margin: 0 auto;

        border-radius: 20%;
    }
}

.about__skills-item {
    position: relative;
    width: calc(100% / 4);
    max-width: 55px;
    margin-right: 4%;
    margin-top: 5px;

    @media (orientation: landscape) {
        width: calc(100% / 7);
        max-width: 95px;
    }

    font-style: italic;
    text-align: center;

    &::before {
        content: '';

        display: block;
        padding-top: 100%;
    }
}

@media (min-width: $tablet-width) {
    .about {
        &__wrapper {
            padding: $tablet-big-section-indent 0;
        }

        &__initial {
            justify-content: space-between;
            margin-bottom: $tablet-small-sections-space;
        }

        &__title {
            margin-bottom: 0;
        }

        &__credentials {
            max-width: 100%;
            width: 50%;
            padding-left: 0;
            align-self: flex-end;

            font-size: 1.5rem;
            line-height: 3rem;
            order: 0;

            &::after {
                display: none;
            }

            tbody {
                width: 100%;
            }
        }

        &__field {
            position: relative;
            flex-direction: row;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                    
                display: block;
                height: 1px;
                width: 100%;

                @include main-gradient(to right);
            }
        }

        &__field-name {
            width: 40%;
        }

        &__img-frame {
            order: 1;
            height: auto;
            width: 45%;
            max-width: 350px;
            margin-top: -48px;
        }

        &__bio {
            font-size: 1.2rem;
            margin-bottom: $tablet-small-sections-space;
        }

        &__bio-text {
            font-size: 1.5rem;
        }

        &__subtitle {
            margin-bottom: 40px;
            font-size: 2rem;
        }

        &__devtools {
            order: 1;
            width: 250px;
        }

        &__skills {
            width: 45%;
            order: 0;
        }

        &__tool {
            font-size: 1.5rem;
            margin-top: 2rem;
        }
    }

    .about__skills-item {
        max-width: 90px;
    }
}

@media (min-width: $desktop-width) {
    .about {
        &::before {
            content: '';
            display: block;
            width: 100%;
            min-height: 20vh;
            background-color: transparent;
        }

        &__title {
            width: 100%;
            margin-bottom: $tablet-small-sections-space;
        }

        &__wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &__initial {
            width: 25%;
            flex-direction: column;
            align-self: flex-start;
        }

        &__field {
            padding-left: 5px;
        }

        &__img-frame {
            width: 100%;
            margin-top: 0;
            margin-bottom: 15px;
            order: 0;
        }

        &__credentials {
            width: 100%;
            font-size: 1.2rem;
            line-height: 2.4rem;
            order: 1;
        }

        &__field-name {
            width: 45%;
        }

        &__content {
            width: 70%;
        }

        &__subtitle {
            margin-bottom: 20px;
            font-size: 1.7rem;
        }

        &__skills {
            width: 90%;
            margin-bottom: $tablet-small-sections-space;
        }

        &__skills-item {
            width: 60px;
            height: 60px;
            margin-left: 0;
            margin-right: 70px;
        }

        &__devtools {
            width: 100%;
        }

        &__tool-list {
            display: flex;
            justify-content: space-between;
        }

        &__tool {
            position: relative;
            margin-top: 0;
            padding-right: 35px;
            padding-left: 0;

            &::before {
                display: none;
            }
        }

        &__tool-icon {
            position: absolute;
            top: 50%;
            right: 0;

            display: inline-block;
            width: 26px;
            height: 26px;

            transform: translateY(-50%);
        }
    }
}