.contact {
    $mobile-font-size: 1.3rem; // inputs, labels, info fiels
    $mobile-font-size-small: 0.9rem; // labels when inputs are focused
    $font-color: white;
    $font-light-color: #e9e4f6;
    $primary-color: white;
    $secondary-color: black; // borders, underlines, X icon when inputs are focused

    @include section-divider;

    width: 100%;

    background: #6A8BCE linear-gradient(to right, #6A8BCE, #BD95DC);
    color: $font-color;

    font-size: $mobile-font-size;

    &__wrapper {
        @include wrapper;
        padding: $mobile-big-section-indent 0;
    }

    &__info {
        margin-bottom: $mobile-small-sections-space;
    }

    &__note {
        margin: 0;
        margin-bottom: 1rem;
        color: $font-light-color;
        font-size: 1rem;
        text-align: right;
    }

    &__input, &__message, &__send, 
    &__info-field, &__label {
        font-size: inherit;
        color: inherit;
    }

    &__info-field {
        position: relative;

        display: block;
        width: 100%;
        max-width: 380px;
        height: 3rem;
        padding-left: 1rem;
        padding-right: 45px;
        
        font-style: italic;
        font-weight: normal;
        line-height: 3rem;

        border: 1px solid $primary-color;
    }

    &__info-field:not(:last-of-type) {
        border-bottom: none;
    }

    &__info-icon {
        position: absolute;
        top: 50%;
        right: 0.5rem;

        display: block;
        width: 35px;
        height: 35px;
        transform: translateY(-50%);
        fill: $primary-color;
    }   

    &__heading {
        margin-bottom: 1rem;
    }

    &__field {
        position: relative;
        width: 100%;
        margin-bottom: 1rem;
    }

    &__form {
        margin-bottom: 0;
    }

    &__input {
        width: 100%;
        height: 3rem;
        padding: 0 1rem;
        padding-right: 2rem;

        background: none;

        border: none;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom: 1px solid $primary-color;

        &::-ms-clear {
            display: none;
        }
    }


    &__input:focus {
        outline: none;
        background: none;
        border-bottom: none;
    }

    &__clear-field {
        position: absolute;
        top: 50%;
        right: 0.5rem;

        height: 1.5rem;
        width: 1.5rem;
        opacity: 0;

        transform: translateY(-50%);
        background: none;
        border: none;
        border-radius: 50%;

        @include ease-out(0.2s);
    }

    &__clear-field::before, &__clear-field::after {
        content: '';
        position: absolute;
        top: 0;
        display: block;
        height: 100%;
        width: 1px;
        background: $secondary-color;
    }

    &__clear-field::before {
        left: 50%;
        transform: rotate(45deg);
    }

    &__clear-field::after {
        right: 50%;
        transform: rotate(-45deg);

    }

    &__input--filled ~ &__clear-field {
        opacity: 1;
    }

    &__input--filled ~ &__clear-field::before,
    &__input--filled ~ &__clear-field::after {
        background: $primary-color;
    }

    &__input:focus ~ &__clear-field {
        opacity: 1;
    }
    

    &__field-underline {
        position: absolute;
        bottom: 0;
        left: 0;
        
        display: block;
        width: 100%;
        height: 1px;

        &::before, &::after {
            content: '';
            position: absolute;
            display: block;
            width: 0;
            height: 100%;
            @include ease-out(0.3s);
            background: $secondary-color;
        }

        &::before {
            right: 50%;
        }

        &::after {
            left: 50%;
        }
    }

    &__input:focus ~ &__field-underline::before,
    &__input:focus ~ &__field-underline::after {
        width: 50%;
    }

    &__message {
        width: 100%;
        padding: 0.5rem 1rem;
        margin-top: 1.5rem;

        text-align: justify;

        border: 1px solid $primary-color;
        background: none;
    }

    &__message:focus {
        outline: none;
        border-color: $secondary-color;
    }

    &__label {
        position: absolute;
        top: 50%;
        left: 1rem;
        transform: translateY(-50%);
        font-style: italic;
        @include ease-out(0.2s);

        &--message {
            top: 2rem;
            transform: none;
        }
    }

    
    &__input--filled + &__label,
    &__message:focus + &__label,
    &__input:focus + &__label {
        top: 0;
        left: 0.2rem;

        font-size: $mobile-font-size-small;
        font-style: normal;
        color: $font-light-color;
    }

    &__input:focus + &__label,
    &__message:focus + &__label {
        color: $secondary-color;
    }

    &__send {
        display: block;
        width: 11rem;
        height: 3rem;
        margin: 0 auto;

        font-family: inherit;
        background: none;

        border: 1px solid $primary-color;
        cursor: pointer;
    }
}

@media (min-width: $tablet-width) {
    .contact {
        $tablet-font-size: 1.6rem;
        $tablet-font-size-small: 1rem;

        font-size: $tablet-font-size;

        &__wrapper {
            padding: $tablet-big-section-indent 0;
        }

        &__note {
            width: 100%;
            font-size: 1.3rem;
        }

        &__info {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: $tablet-small-sections-space;
        }

        &__info-field {
            width: 50%;
            height: 4rem;
            max-width: 420px;

            line-height: 4rem;
        }

        &__info-field:not(:last-of-type) {
            border-bottom: 1px solid white;
            border-right: none;
        }

        &__info-icon {
            width: 40px;
            height: 40px;
        }

        &__form-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        
        &__field {
            margin-bottom: 1.6rem;
        }

        &__field--half {
            width: 48%;
        }

        &__input {
            height: 3.4rem;
            padding-right: 2.5rem;
        }

        &__clear-field {
            width: 1.8rem;
            height: 1.8rem;
        }

        &__message {
            padding-top: 1rem;
        }

        &__input--filled + &__label,
        &__message:focus + &__label,
        &__input:focus + &__label {
            font-size: $tablet-font-size-small;
        }

        &__send {
            height: 4rem;
            width: 16rem;
        }
    }
}

@media (min-width: $desktop-width) {
    .contact {
        padding: 1.5rem 0;
        padding-bottom: 2.5rem;

        &__input:hover,
        &__message:hover {
            @include main-tone-bg(0.2);
        }

        &__input:focus,
        &__message:focus {
            background: none;
        }

        &__clear-field {
            cursor: pointer;
        }

        &__clear-field:hover {
            transform: scale(1.2) translateY(-50%);
        }

        &__send {
            @include ease-out(0.3s);
        }

        &__send:hover {
            background: rgba(16, 18, 22, 0.75);
            border: none;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }

        &__send:focus {
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            border: none;
            outline: none;
            @include main-tone-bg(0.75);
        }
    }
}