.page-nav {
    display: flex;
    width: 100vw;
    font-size: 1.5rem;
    z-index: 2;

    &::before {
        content: "";
        width: 30%;
        height: 100vh;

        transform: translateY(0);
        opacity: 1;
        

        background: rgba(16, 18, 22, 0.6);
        @include ease-out(0.35s);
    }

    &__list-container {
        width: 70%;
        height: 100vh;
        padding-top: $mobile-header-height;
        padding-right: 10vw;
        transform: translateY(0);
        opacity: 1;

        background: $main-tone;

        @include ease-out(0.35s);
    }

    &__list {
        float: right;
        display: flex;

        margin: 0;
        padding: 0;
        min-height: 70vh;

        flex-direction: column;
        justify-content: space-around;
        align-items: stretch;
        list-style: none;
    }

    &__item {
        position: relative;
        text-align: right;
    }

    &__link {
        display: inline-block;
        width: 100%;
        padding-right: 0.3rem;
        padding-left: 1rem;
        line-height: 3.3rem;
        text-decoration: none;
        color: inherit;
        opacity: 0.7;
    }

    &__item--active {
        &::after {
            position: absolute;
            bottom: 0px;
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background-image: linear-gradient(to right, #77a1d3, #79cbca, #e684ae);
        }
    }

    &__item--active &__link {
        pointer-events: none;
        opacity: 0.7;
    }
}

.page-nav>* {
    z-index: 1;
}

.page-nav__menu-toggler {
    position: absolute;
    right: 10vw;
    top: 0;
    width: 2.5rem;
    height: $mobile-header-height;
    margin-left: auto;
    padding: 0;
    cursor: pointer;
    z-index: 10;
    border: none;
    background-color: transparent;

    &::before,
    &::after {
        top: 50%;
        left: 50%;
        position: absolute;
        content: "";
        display: block;
        width: 100%;
        height: 5%;
    }

    &::before {
        transform: translate(-50%, -50%) rotate(45grad);
        background-image: linear-gradient(to right, #77a1d3, #79cbca, #e684ae);
    }
    &::after {
        transform: translate(-50%, -50%) rotate(-45grad);
        background-image: linear-gradient(to left, #77a1d3, #79cbca, #e684ae);

    }
}


@media (max-width: $mobile-width-only) {
    .page-nav--closed {
       height: $mobile-header-height;
       
       &::before {
         transform: translateY(-100%);
         opacity: 0.2;
       }

      .page-nav__list-container {
        transform: translateY(100%);
        opacity: 0.2;
      }

      .page-nav__menu-toggler::after {
        display: none;        
      }

      .page-nav__menu-toggler::before {
        top: 8px;
        left: 0;
        transform: translate(0, 0);
        box-shadow: 0 12px 0 0 rgb(218, 214, 214), 0 24px 0 0 rgb(218, 214, 214);
        background: white;        
      }
    }

    .page-nav__link {
        opacity: 1;
    }
}

@media (min-width: $tablet-width) {
    .page-nav {
        width: 80vw;
        max-width: $desktop-width;
        margin: 0 auto;

        font-size: 1.3rem;
        &::before {
            display: none;
        }
        &__menu-toggler {
            display: none;
        }

        &__list-container {
            width: 100%;
            height: auto;
            padding: 0 0.5rem;
            background: transparent;
        }

        &__list {
            width: 100%;
            height: 45px;
            flex-direction: row;
            justify-content: default;
            min-height: auto;
        }

        &__item {
            width: auto;
            padding: 0;
            text-align: center;
        }

        &__item:not(:first-child) {
            margin-left: 0.5rem;
        }

        &__item--active {
            &::after {
                left: 0;
            }
        }

        &__item--left {
            margin-right: auto;
        }

        &__link {
            padding: 0.5rem 1rem;
            line-height: normal;
        }
    }
}

@media (min-width: $desktop-width) {
    .page-nav__link {
        &:hover {
            opacity: 1;
        }
    }
}