.page-header {
    position: fixed;

    min-height: $mobile-header-height;
    z-index: 3;
}

@media (min-width: $tablet-width) {
    .page-header {
        width: 100vw;
        background: rgba(16, 18, 22, 0.3);
    }
}