.page-nav {
    display: flex;
    width: 100vw;
    font-size: 24px;
    z-index: 2;

    &::before {
        content: "";
        width: 30%;
        height: 100vh;

        transform: translateY(0);
        opacity: 1;
        
        @include main-tone-bg(0.6);
        @include ease-out(0.25s);
    }

    &__list-container {
        width: 70%;
        height: 100vh;
        padding-top: $mobile-header-height;
        padding-right: 10vw;
        transform: translateY(0);
        opacity: 1;

        background: $main-tone;

        @include ease-out(0.35s);
    }

    &__list {
        @include custom-list;

        float: right;
        display: flex;
        height: 70vh;
        min-height: 70vh;

        flex-direction: column;
        justify-content: space-around;
        align-items: stretch;
    }

    &__item {
        position: relative;
        text-align: right;

        &::after {
            content: "";
            position: absolute;
            bottom: 0px;

            display: block;
            width: 0;
            height: 1px;
            @include main-gradient(to right);
            @include ease-out(0.3s);
        }
    }

    &__link {
        display: inline-block;
        width: 100%;
        padding-left: 1rem;
        line-height: 3.3rem;
        text-decoration: none;
        color: inherit;
    }

    &__item--active {
        &::after {
            width: 100%;
        }
    }

    &__item--active &__link {
        pointer-events: none;
        opacity: 0.7;
    }
}

.page-nav__menu-toggler {
    position: absolute;
    right: 10vw;
    top: 0;

    width: 40px;
    height: $mobile-header-height;

    z-index: 10;
    border: none;
    background-color: transparent;
    cursor: pointer;

    @include ease-out(0.35s);

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 100%;
        height: 2px;
    }

    &::before {
        transform: translate(-50%, -50%) rotate(45grad);
        @include main-gradient(to right);
    }
    &::after {
        transform: translate(-50%, -50%) rotate(-45grad);
        @include main-gradient(to left);
    }
}

.page-nav__menu-toggler:focus {
    outline: none;
}


@media (max-width: $mobile-width-only) {
    .page-nav--closed {
       height: $mobile-header-height;
       
       &::before {
         transform: translateY(-100%);
         opacity: 0.2;
       }

      .page-nav__list-container {
        transform: translateY(100%);
        opacity: 0.2;
      }

      .page-nav__menu-toggler {
        right: 5vw;        
      }

      .page-nav__menu-toggler::after {
        display: none;        
      }

      .page-nav__menu-toggler::before {
        $line-color: rgb(218, 214, 214);
        top: 8px;
        left: 0;
        transform: translate(0, 0);
        box-shadow: 0 12px 0 0 $line-color, 0 24px 0 0 $line-color;
        background: $line-color;        
      }
    }

    .page-nav__link {
        opacity: 1;
    }
}

@media (min-width: $tablet-width) {
    .page-nav {
        width: 80vw;
        max-width: $desktop-wrapper-width;
        margin: 0 auto;
        font-size: 20px;

        &::before {
            display: none;
        }

        &__menu-toggler {
            display: none;
        }

        &__list-container {
            width: 100%;
            height: auto;
            padding: 0;
            background: transparent;
        }

        &__list {
            flex-direction: row;
            min-height: auto;
            width: 100%;
            height: 45px;
        }

        &__item {
            width: auto;
            padding: 0;
            text-align: center;
        }

        &__item:not(:first-child) {
            margin-left: 0.5rem;
        }

        &__item--active {
            &::after {
                left: 0;
            }
        }

        &__item--left {
            margin-right: auto;
        }

        &__link {
            padding: 0.5rem 1rem;
            line-height: normal;
            opacity: 0.7;
        }
    }
}

@media (min-width: $desktop-width) {
    .page-nav__link {
        @include ease-out(0.15s);

        &:hover {
            opacity: 1;
        }

        &:focus {
            opacity: 1;
            outline: none;
        }

        &:active {
            opacity: 0.5;
        }
    }
}