.page-footer {
    width: 100%;
    padding-top: 0.6rem;
    padding-bottom: 0.5rem;

    @include section-divider;

    @media (min-width: $tablet-width) {
        padding-top: 1.1rem;
        padding-bottom: 1rem;
    }
}