.page-footer {
    position: relative;
    width: 100%;
    padding-top: 0.6rem;
    padding-bottom: 0.5rem;

    @media (min-width: $tablet-width) {
        padding-top: 1.1rem;
        padding-bottom: 1rem;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        
        display: block;
        height: 1px;
        width: 100%;

        @include main-gradient(to left)
    }
}