.projects {
    @include section-divider;

    background: #b993d6 linear-gradient(to right, #b993d6, #8ca6db);

    &__wrapper {
        @include wrapper;
        padding: $mobile-big-section-indent 0;
        padding-bottom: $mobile-big-section-indent - 16px; // project margin-bottom = 20px
    }

    &__list {
        @include custom-list;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        flex-direction: column;
    }  
}

@media (min-width: $tablet-width) {
    .projects {
        &__wrapper {
            padding: $tablet-big-section-indent 0;
            padding-bottom: $tablet-big-section-indent - 32px;
        }

        &__list {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}