.projects {
    @include section-divider;

    width: 100%;
    padding-bottom: 0.5rem;
    background: #b993d6 linear-gradient(to right, #b993d6, #8ca6db);

    &__wrapper {
        @include wrapper;
    }

    &__list {
        @include custom-list;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        flex-direction: column;
    }  
}

@media (min-width: $tablet-width) {
    .projects {
        padding: 1rem 0;
        &__list {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}

@media (min-width: $desktop-width) {
    .projects {
        padding: 1.5rem 0;
    }
}