.section-title {
    margin: 0;
    margin-bottom: $mobile-small-sections-space;
    padding-left: 0.5rem;
    
    font-size: 3rem;

    /* 
    * Make line-height equal to
    * font-size, so it's easier to
    * measure padding sizes
    */
    line-height: 3rem;

    text-transform: uppercase;

    @media (min-width: $tablet-width) {
        margin-bottom: $tablet-small-sections-space;

        font-size: 3.2rem;
        line-height: 3.2rem;
        letter-spacing: 0.1rem;
    }
}