@mixin custom-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin wrapper {
  width: 80vw;
  margin: 0 auto;
  
  @media (max-width: $tablet-mobile-width-only) {
    width: 90vw;
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-wrapper-width;
  }
}

@mixin page-section-background
(
  $mobile-bg-img, 
  $mobile-bg-img-retina, 
  $tablet-bg-img, 
  $tablet-bg-img-retina, 
  $desktop-bg-img-small, 
  $desktop-bg-img-small-retina, 
  $desktop-bg-img-large
) 
{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url($background-path + $mobile-bg-img);

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url($background-path + $mobile-bg-img-retina);
  }

  @media (min-width: $tablet-width) {
    background-image: url($background-path + $tablet-bg-img);

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url($background-path + $tablet-bg-img-retina);
    }
  }

  @media (min-width: $desktop-width) {
    background-attachment: fixed;

    // Remove fixed attachment for IE
    @media screen and (-ms-high-contrast: active), 
      (-ms-high-contrast: none) {
        background-attachment: scroll;
    }

    background-image: url($background-path + $desktop-bg-img-small);
    
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url($background-path + $desktop-bg-img-small-retina);
    }
  }

  @media (min-width: $desktop-large-width) {
    background-image: url($background-path + $desktop-bg-img-large);
  }
}

@mixin ease-out($duration) {
  transition: all $duration ease-out;
}

@mixin main-tone-bg($opacity) {
  background: rgba(16, 18, 22, $opacity);
}

@mixin main-gradient($direction) {
  background: #77a1d3 linear-gradient($direction, #77a1d3, #79cbca, #e684ae);
}

@mixin section-divider {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
        
    display: block;
    height: 1px;
    width: 100%;
    z-index: 1;

    @include main-gradient(to left);
  }
}