/* Path */
$background-path: './../img/backgrounds/';

/* Global fonts rules */
$page-font: 'Source Sans Pro', sans-serif;
$page-font-size: 17px;
$page-font-color: white;
$page-line-height: normal;

/* Sizes */
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;
$desktop-large-width: 1600px;

$mobile-header-height: 3rem; // Depends on height of menu toggler
$tablet-header-height: 30px; // Remeasure
$desktop-header-height: 30px; // Remeasure

$mobile-width-only: $tablet-width - 1px;
$tablet-mobile-width-only: $desktop-width - 1px;

$mobile-wrapper-width: 260px;
$tablet-wrapper-width: 668px;
$desktop-wrapper-width: 1050px;

/* Resolucions */
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

/* Colors */
$main-tone: rgb(16, 18, 22);
$link-color: rgb(39, 159, 205);
