/* Global fonts rules */
$page-font: 'Source Sans Pro', sans-serif;
$page-font-size: 17px;
$page-font-color: black;
$page-line-height: 30px;

/* Sizes */
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;

$mobile-width-only: $tablet-width - 1px;

$mobile-wrapper-width: 260px;
$tablet-wrapper-width: 668px;
$desktop-wrapper-width: 1050px;

/* Resolucions */
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
