/* Path */
$background-path: './../img/backgrounds/';

/* Global fonts rules */
$page-font: 'Source Sans Pro', sans-serif;
$page-font-color: white;
$page-line-height: normal;

$mobile-font-size: 16px;
$tablet-font-size: 20px;



/* Sizes */
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;
$desktop-large-width: 1600px;

$mobile-header-height: 48px; // Depends on height of menu toggler

$mobile-width-only: $tablet-width - 1px;
$tablet-mobile-width-only: $desktop-width - 1px;

$desktop-wrapper-width: 1050px;

// margins between small sections
$mobile-big-section-indent: 28px;
$tablet-big-section-indent: 48px;

$mobile-small-sections-space: 24px;
$tablet-small-sections-space: 44px;

/* Resolucions */
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

/* Colors */
$main-tone: rgb(16, 18, 22);
$link-color: rgb(39, 159, 205);
